body{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw; 
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    /*background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);}*/
}
.bg-etch{
    background-image: url('/home/brew/Programming/The Odin Project/Other/sketch/assets/images/22ETCH-jumbo.png');
    background-image: url('../assets/images/22ETCH-jumbo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    height: 95vh;
    width: 85vw; 
}

.sketchContainer{
    box-sizing: border-box;
    margin-left:30vw;
    margin-top: 10%;
    padding: 2px;
    border:1px solid;
    width: 40vw;
    height: 40vw;
    background: #f5efef;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 2px;
  }
  .square{
    /*display:inline-block;*/
    border:.5px solid;
  }
  .square:hover{
    background-color:black;
    opacity:.5;
  }
  .black{
    background-color:black;
  }