body{
    margin: 0;
    padding: 0;
    -webkit-appearance:none;
}
body *{
    box-sizing: border-box;
}
h1{
    font-family: 'Indie Flower', cursive;    
    text-align: center;
}
h1::before{
    font-family: 'Luckiest Guy', cursive;
    content:'NOT ';
}
#title{
    margin-top: 5vh;
}
.wrapper{
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw; 
    background-image: linear-gradient(-25deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.sketchContainer{
    box-sizing: border-box;
    margin: 10vh auto 4vh auto;    
    padding: 2px;
    border:1px solid;
    width: 60vh;
    height: 60vh;
    background: #ffffffb0;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 2px;
    cursor: pointer;
  }
  
.square{
/*display:inline-block;*/
border:.5px solid #867e7e7a;
}
.square:hover{
background-color:black;
opacity:.5;
}

.buttons{
    text-align: center;
}

.painted{
background-color:black;
}

input[type="color"] {
    display: none;
}
/* Buttons form :
getSkelleton.com/
*/
button {
display: inline-block;
height: 38px;
padding: 0 30px;
color: #555;
text-align: center;
font-size: 11px;
font-weight: 600;
line-height: 38px;
letter-spacing: .1rem;
text-transform: uppercase;
text-decoration: none;
white-space: nowrap;
background-color: transparent;
border-radius: 4px;
border: 1px solid #bbb;
cursor: pointer;
box-sizing: border-box;
}
button:hover{
    color: #353535;
    border-color: #a0a0a0;
}
button > i{
    color: black;
    font-size: 15px;
    vertical-align: text-bottom;
    margin-right: 5px; 
}